@{
    ViewBag.Title = "Hakkımızda";
}

<!-- main content wrapper -->
<div class="content-wrapper">
    <section class="content-block">
        <div class="container">
            <div align="center" class="block-heading bottom-space">
                <h3 class="block-top-heading">FONMALİTE</h3>
                <h2 class="block-main-heading">Hakkımızda</h2>
                <span class="block-sub-heading"><a href="mailto:iletisim@bungalovcum.com">info@fonmalite.com</a></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bottom-space-small-only">
                        <h4>Vizyon</h4>
                        <p>Girişimciliğin, yaratıcılığın ve sonsuz insan kapasitesinin kolektif irade ile desteklenmesiyle hayallerin gerçekleşmesini sağlamak ve bu sayede toplumsal kalkınmaya ön ayak olmak.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bottom-space-small-only">
                        <h4>Misyon</h4>
                        <p>
                            Kitlelerin gücüyle girişimlerin ve işletmelerin kaynağa ulaşımını hızlandırmak ve kolaylaştırmak.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bottom-space-small-only" align="justify">
                        <div align="center">
                        </div>
                        <p>
                            Bu misyon ve vizyon ışığında amacımız;
                        </p>
                        <ul>
                            <li>
                                <div>Uslanmaz bir iyimserlikle&nbsp;geleceğe inancımızı bir an bile yitirmeden kendimizi aşan bir iyiliğe katkıda bulunarak,</div>
                            </li>
                            <li>
                                <div>Yepyeni şeylerin yaratılmasına destek olabilmek için her an sınırsız bir merak ve heyecan taşıyarak,</div>
                            </li>
                            <li>
                                <div>Konfor alanımızın dışına çıktığımızda karşımıza çıkan engelleri aşmak için&nbsp;daha önce hayal edilmeyen çözümler bularak,</div>
                            </li>
                            <li>
                                <div>Konuşulması zor olan konuları konuşurken uzlaşamasak da farklı görüşlerin saygıyla paylaşılabilmesini sağlayarak,</div>
                            </li>
                            <li>
                                <div>Sıradışı olanın, şaşırtıcı projelerin, ilham veren tesadüflerin peşinde arayışta olarak,</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bottom-space-small-only" align="justify">
                        <br /><br /><br />
                        <div align="center">
                            <h4>Hakkımızda</h4>
                        </div>
                        <div>
                            <br>
                            Kitlesel fonlama, bir işletmeye, projeye ve bireylere sermaye sağlanması amacıyla birçok küçük desteği bir araya getiren yeni nesil fonlama sistemidir. Finansmanın tabana yayılmasıyla fon bulma sürecini hızlandırır ve demokratikleştirir.<br>
                            <br>
                            Foncu, her türlü projenin hayata geçmesi için ihtiyaç duyulan sermayenin kitlelerin desteğiyle bir araya getirilmesine aracı olan bir platformdur. Proje sahipleri, desteklerin karşılığında projeleri ile ilgili alt-ürün ve servisleri destekçilerine sunarlar. Proje sahiplerinin proje sayfalarını yaratıp ödeme sistemlerini kullanabilecekleri ve kampanyalarını yürütebilecekleri düzeneği Foncu sağlar.<br>
                            <br>
                            Foncu deneyimini sorunsuzca yaşayabilmeniz için elimizden geleni yapıyoruz. Her adımda olası gereksinimlerinden yola çıkıyor, geribildirimleri can kulağı ile dinliyor, aksiyon alıyoruz.<br>
                            <br>
                            İnanıyoruz ki yaratıcı aklımızın serbestçe ifadesi sağlıklı ve güçlü bir toplum olabilmemiz için önemli bir gerekliliktir. Siz de aynı fikirdeyseniz <a href="https://foncu.com/Register">aramıza katılın</a>.<br>
                            <br>
                            Daha fazlası için,&nbsp;<a href="https://foncu.com/Faq">Sık Sorulan Sorular</a>’a göz atmanızı tavsiye ederiz!<br>
                            <br>
                            <strong><a data-ajax="false" href="https://foncu.com/HowItWorks">NASIL ÇALIŞIR&nbsp;</a>&nbsp;</strong>⮩
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>