@{
    ViewBag.Title = "İletişim";
}

<div class="container">
    <div class="contact-container">
        <br />
        <br />
        <h3 style="text-align:center">İletişim</h3>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12 col-xl-4">
                <div class="info-slot">
                    <div class="icon"><span class="custom-icon-map-marker"></span></div>
                    <div class="text">
                        <address>
                            Orhangazi Mahallesi, Teknopark Sokak,No:1, 81620
                            <br>Yörük/Merkez/Düzce
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-4">

                <div class="info-slot">
                    <div class="icon"><span class="custom-icon-headset"></span></div>
                    <div class="text">
                        <ul class="content-list contact-list">
                            <li><span class="label-text">Telefon</span> <a href="tel:02078777777">(020) 7877 7777</a></li>
                            <li><span class="label-text">FAX</span> <a href="tel:02078777777">(020) 7877 7777</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-4">

                <div class="info-slot">
                    <div class="icon"><span class="custom-icon-message"></span></div>
                    <div class="text">
                        <ul class="content-list contact-list">
                            <li><a href="mailto:support@roxine-online">support@roxine-online</a></li>
                            <li><a href="mailto:info@roxine-online.com">info@roxine-online.com</a></li>
                            <li><a href="mailto:help@roxine-online.com">help@roxine-online.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>