@{
    ViewBag.Title = "Anasayfa";
}

    <!-- visual/banner of the page -->

    <!--/visual/banner of the page -->
    <!-- main content wrapper -->
    <div class="content-wrapper">
        <br><br><br>
        <section class="content-block">
            <div class="container">
                <div class="block-heading bottom-space">
                    <h2 class="block-main-heading" align="center">Hakkımızda</h2>
                    <div class="divider" align="center"><img src="~/Content/main/img/divider.png" alt="images description"></div>
                    <span class="block-sub-heading" align="center">Foncu, her türlü projenin hayata geçmesi için ihtiyaç duyulan sermayenin kitlelerin desteğiyle bir araya getirilmesine aracı olan bir platformdur. Proje sahipleri, desteklerin karşılığında projeleri ile ilgili alt-ürün ve servisleri destekçilerine sunarlar. Proje sahiplerinin proje sayfalarını yaratıp ödeme sistemlerini kullanabilecekleri ve kampanyalarını yürütebilecekleri düzeneği Foncu sağlar.</span>
                </div>
                <br />
                <br />
                <br />
                <div class="btn-container top-m-space" align="center">
                    <a href="/Home/About" class="btn btn-black has-radius-small">Devamını oku</a>
                </div>
            </div>
        </section>
        <section class="content-block p-0">
            <div class="container-fluid">
                <div class="content-slot alternate-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInLeft">
                                <img src="~/Content/main/img/img-09.jpg" alt="images">
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="text-wrap">
                                <h3>Kitlesel Fonlama Nedir?</h3>
                                <p>Kitlesel fonlama, bir işletmeye, projeye ve bireylere sermaye sağlanması amacıyla birçok küçük desteği bir araya getiren yeni nesil fonlama sistemidir. Finansmanın tabana yayılmasıyla fon bulma sürecini hızlandırır ve demokratikleştirir.</p>
                                <p>Foncu, her türlü projenin hayata geçmesi için ihtiyaç duyulan sermayenin kitlelerin desteğiyle bir araya getirilmesine aracı olan bir platformdur. Proje sahiplerinin proje sayfalarını yaratıp ödeme sistemlerini kullanabilecekleri ve kampanyalarını yürütebilecekleri düzeneği Foncu sağlar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInRight">
                                <img src="~/Content/main/img/img-10.jpg" alt="images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-wrap">
                                <h3>Ödül Sistemi</h3>
                                <p>Hayallerini gerçekleştirmek için açacağın tek seferlik Foncu projesidir. Projen için aradığın miktara, belirlediğin süre içerisinde ulaştığında fon hesabında!</p>
                                <p>Bu düzenli desteklerle hem ihtiyacın olan fona ulaş, hem de yeni üye ve takipçiler kazan.</p>
                                <p>Foncu her zaman yanında olacak.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-block count-block text-center p-0 parallax" data-stellar-background-ratio="0.55">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="custom-icon-projects"></span>
                            </div>
                            <h3 class="number">505</h3>
                            <div class="text text-uppercase">Aktif Proje</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="custom-icon-smile"></span>
                            </div>
                            <h3 class="number">100.000</h3>
                            <div class="text text-uppercase">Aktif Kullanıcı</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="custom-icon-award"></span>
                            </div>
                            <h3 class="number">720</h3>
                            <div class="text text-uppercase">Tamamlanmış Proje</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="custom-icon-dollar"></span>
                            </div>
                            <h3 class="number">1000000</h3>
                            <div class="text text-uppercase">Dolar Fonlama Büyüklüğü</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="content-block">
            <div class="container">
                <div class="logo-container">
                    <div class="owl-carousel logo-slide" id="waituk-owl-slide-4">
                        <div class="slide-item">
                            <img src="~/Content/main/img/" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="~/Content/main/img/logo-02.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="~/Content/main/img/logo-03.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="~/Content/main/img/logo-04.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="~/Content/main/img/logo-03.png" alt="images description">
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!--/main content wrapper -->